---
# managa packages and enable service
- name: install samba packages
  yum: name="{{ item }}" state=present
  with_items: samba_packages

- name: Service enabled and running
  service:
    name: "{{ samba_service }}"
    enabled: true
    state: running

# read all params from ansible, no defaults in the role
- name: Samba confing
  template: src=smb.conf.j2 dest=/etc/samba/smb.conf
            owner=root group=root mode=0644
  notify: restart_samba

